* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E2F5FF;
}

h1 {
    background-color: blueviolet;
    color: #ffffff;
    margin: 20px;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;
}

h1:hover {
    background-color: #ffff;
    color: blueviolet;
}


.cards {
    background-color: #43B7F8;
    padding: 15px;
    margin: 20px;
    border-radius: 25px;
    color: #ffff;
    font-weight: bold;
    cursor: pointer;
}

.cards > ul {
    list-style: none;
}

.cards:hover {
    background-color: #A8DAF6;
    box-shadow: 5px 5px 5px #43B7F8;
}

.grid{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(250px, 1fr));
}